In [18]:
# load emotion data from csv files

import pandas as pd

tes = pd.read_csv('./test.csv')
trn = pd.read_csv('./training.csv')
valid = pd.read_csv('./validation.csv')

In [19]:
tes.head()

                                                text  label
0  im feeling rather rotten so im not very ambiti...      0
1          im updating my blog because i feel shitty      0
2  i never make her separate from me because i do...      0
3  i left with my bouquet of red and yellow tulip...      1
4    i was feeling a little vain when i did this one      0

In [20]:
trn.head()

                                                text  label
0                            i didnt feel humiliated      0
1  i can go from feeling so hopeless to so damned...      0
2   im grabbing a minute to post i feel greedy wrong      3
3  i am ever feeling nostalgic about the fireplac...      2
4                               i am feeling grouchy      3

In [21]:
valid.head()

                                                text  label
0  im feeling quite sad and sorry for myself but ...      0
1  i feel like i am still looking at a blank canv...      0
2                     i feel like a faithful servant      2
3                  i am just feeling cranky and blue      3
4  i can have for a treat or if i am feeling festive      1

In [22]:
# remap
# 0 - 2
# 1 - 1
# 2 - 3
# 3 - 4
# 4 - 5
# 5 - 0

trn['emotion'] = trn['label'].map({0:2, 1:1, 2:3, 3:4, 4:5 , 5:0})
tes['emotion'] = tes['label'].map({0:2, 1:1, 2:3, 3:4, 4:5, 5:0})
valid['emotion'] = valid['label'].map({0:2, 1:1, 2:3, 3:4, 4:5, 5:0})

In [23]:
trn.to_csv('./training_preped.csv', index=False)
trn.head()

                                                text  label  emotion
0                            i didnt feel humiliated      0        2
1  i can go from feeling so hopeless to so damned...      0        2
2   im grabbing a minute to post i feel greedy wrong      3        4
3  i am ever feeling nostalgic about the fireplac...      2        3
4                               i am feeling grouchy      3        4

In [24]:
tes.to_csv('./test_preped.csv', index=False)
tes.head()

                                                text  label  emotion
0  im feeling rather rotten so im not very ambiti...      0        2
1          im updating my blog because i feel shitty      0        2
2  i never make her separate from me because i do...      0        2
3  i left with my bouquet of red and yellow tulip...      1        1
4    i was feeling a little vain when i did this one      0        2

In [25]:
valid.to_csv('./validation_preped.csv', index=False)
valid.head()

                                                text  label  emotion
0  im feeling quite sad and sorry for myself but ...      0        2
1  i feel like i am still looking at a blank canv...      0        2
2                     i feel like a faithful servant      2        3
3                  i am just feeling cranky and blue      3        4
4  i can have for a treat or if i am feeling festive      1        1

In [26]:
# drop label column and cast emotion to int
trn = trn.drop(columns=['label'])
trn['emotion'] = trn['emotion'].astype(int)
trn.head()

                                                text  emotion
0                            i didnt feel humiliated        2
1  i can go from feeling so hopeless to so damned...        2
2   im grabbing a minute to post i feel greedy wrong        4
3  i am ever feeling nostalgic about the fireplac...        3
4                               i am feeling grouchy        4

In [27]:
tes = tes.drop(columns=['label'])
tes['emotion'] = tes['emotion'].astype(int)
tes.head()


valid = valid.drop(columns=['label'])
valid['emotion'] = valid['emotion'].astype(int)
valid.head()

                                                text  emotion
0  im feeling quite sad and sorry for myself but ...        2
1  i feel like i am still looking at a blank canv...        2
2                     i feel like a faithful servant        3
3                  i am just feeling cranky and blue        4
4  i can have for a treat or if i am feeling festive        1

In [29]:
original = pd.read_csv('./emotion_data_prep.csv')
original.head()

                                                text  emotion
0                                             lovely        3
1                                ok sound goood hehe        3
2  egg holder make ash wood shop link egg holder ...        3
3  buy book review help get amazon new release su...        4
4               eeek come im soo excite see thursday        1

In [30]:
emotion_data = pd.concat([original, trn, tes, valid])

In [31]:
emotion_data.head()

                                                text  emotion
0                                             lovely        3
1                                ok sound goood hehe        3
2  egg holder make ash wood shop link egg holder ...        3
3  buy book review help get amazon new release su...        4
4               eeek come im soo excite see thursday        1

In [36]:
import seaborn as sns

In [40]:
# print count of unique values of emotion
print(emotion_data['emotion'].value_counts())

1    28782
2    20641
3    10443
0    10362
4     9414
5     2373
Name: emotion, dtype: int64

In [ ]:
emotion_data.to_csv('./emotion_data_v1.csv', index=False)